    /*  */
    /*  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;


    padding: 0;
    
    /* box-sizing - настройка расчёта width и height */
    /* border-box - width и height включают в себя padding и border, но НЕ margin */
    box-sizing: border-box; 
    
    /* font-family - шрифт */
    /* 'Open Sans', sans-serif - либо 'Open Sans', либо любой шрифт из семейста sans-serif */
    font-family: 'Open Sans', sans-serif;
}

body{
    /* ??? */
    /*  */
    display: flex;

    /* justify-content - расположение контента в контейнере */
    justify-content: center;
    
    align-items: center;
    
    min-height: 100vh;
    /* background: linear-gradient(#009688 0%,#009688 130px,#f5f5f5 130px,#f5f5f5 100%); */
    background: #f5f5f5;
}

.container{
    position:relative;
    width: 1396px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background: white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06),0 2px 5px 0 rgba(0,0,0,0.06);
    border: 2px solid;
    border-color: #d4d4d4;
    
    /* обеспечивает отображение leftSide и rightSide слева направо*/
    display: flex;
}

.container .leftSide{
    position: relative;
    flex: 30%;
    background: white;
    border-right: 1px solid rgb(219, 219, 219);
}


.container .rightSide{
    position: relative;
    flex: 70%;
    background: rgb(226, 219, 214);
}

.container .rightSide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('pattern.png');
    opacity: 0.1;
}

.header{
    position: relative;
    width: 100%;
    height: 60px;
    background: #e5e5e5;

    /* обеспечивает горизонтальное расположение своих дочерних элементов */
    display: flex;

    /* положение контента в контейрене - пуст.простр. между элементами контента*/
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.userimg{
    position: relative;
    width: 40px;
    height: 40px;

    /* состояние контента, выходящего за рамки - скрыто */
    overflow: hidden;

    /* радиус элемента (степень закругления) */
    border-radius: 50%;
}

.cover{

    /* позиционирование: absolute - относительно своего контейнера (регулируется с помощью top, left,..) */
    position: absolute;
    top: 0%;
    left: 0%;

    /* как следует отображать img: cover - Изображение сохраняет соотношение сторон и заполняет заданное измерение. Изображение будет обрезано по размеру*/
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.nav_icons{

    /* отображение по горизонтали */
    display: flex;
}

.nav_icons li{

    
    display: flex;
    /* убрал точки, свойственные li в ul */ 
    list-style: none;

    /* поменял курсор при наведении*/
    cursor: pointer;

    /* изменил цвет иконки */
    color: rgb(95, 95, 95);

    /* изменение размера картинки в соответствии с размером шрифта?? */
    font-size: 1.75em;
    margin-left: 22px;
}

.search_chat{
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;   

    /* внутренний отступ: по вертикали - 0, по горизонтали - 15px */
    padding: 0 15px;

}

.search_chat div{
    width: 100%;
}

.search_chat div input{
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;
}

.search_chat div input::placeholder{
    color: #bbb;
}

.search_chat div ion-icon{

    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
}

.chatlist{
    /* позиционирует себя внутри своего родительского контейнера учитывая его margin, border, padding
       и позиционирует свои дочерние элементы относительно себя
    */
    position: relative;

    /* 100% воспринимается как высота всего родительского контейнера, поэтому может выходить за сам контейнер */
    height: calc(100% - 110px); /* 60px (search_chat) +50px (header) = 110px */
    
    /* создает полоску прокрутки по оси Y */
    overflow-y: auto;

}

.chatlist::-webkit-scrollbar {
    background-color: #ebebeb;
    width: 8px;

}


.chatlist::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 100px 100px 100px 100px;
}




.chatlist .block{
    /* позиционирует себя внутри своего родительского контейнера учитывая его margin, border, padding
       и позиционирует свои дочерние элементы относительно себя
    */
    position: relative;
    width: 100%;
    display: flex;
    align-items:end;
    padding: 15px;

    /* низ границы */
    border-bottom: 1px solid rgb(219, 219, 219);
    cursor: pointer;
}

.chatlist .block.active{
    background: #ebebeb;
}

.chatlist .block:hover{
    background: #f5f5f5;
}

.chatlist .block .imgbx{
    position: relative;
    min-width: 45px;
    height: 45px;
    margin-right: 10px;
    /* без этого не работает border-radius (хз почему) */
    overflow: hidden;
    border-radius: 50%;
}

.chatlist .block .details{
    position: relative;
    width: 100%;

}

.chatlist .block .details .listHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}


.chatlist .block .details .listHead h4{
    font-size: 1.1em;

    /* толщина шрифта */
    font-weight: 600;
    color: #111;
}

.chatlist .block .details .listHead .time{
    font-size: 0.75em;
    color: #aaa;
}

.chatlist .block .details .listHead .time{
    color: #111;
}

.chatlist .block.unread .details .listHead .time{
    color: #06d755;
}

.message_p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message_p p{
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message_p b{
    background: #06d755;
    color:  #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}

.imgText{
    position: relative;

    /* встроил элемент в пределы своего контейнера */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgText h4{
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 15px;
}

.imgText h4 span{
    font-size: 0.8em;
    color: #555;
}

.chatBox{
    position: relative;
    width: 100%;
    height: calc(100% - 120px); /* 60px+60px */
    padding: 5px 50px;
    overflow-y: auto;
}

.chatBox::-webkit-scrollbar {
    background-color: #ebebeb;
    width: 8px;

}


.chatBox::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 100px 100px 100px 100px;
}


.message{
    position: relative;
    display: flex;
    width: 100%;
    margin: 15px 0;
}

.message p{
    position: relative;
    max-width: 65%;
    padding: 12px;
    background: #dcf8c6;
    border-radius: 10px;
    font-size: 0.9em;
}

.message p::before{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg,#dcf8c6 0%, #dcf8c6 50%, transparent 50%, transparent);
}

.message p span{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}

.my_message{
    justify-content: flex-end;
}

.frnd_message{
    justify-content: flex-start;
}

.frnd_message p{
    background: #fff;
    /* text-align: left; */
}

.message.frnd_message p::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg,#fff 0%, #fff 50%, transparent 50%, transparent);
} 

.chatBox_input{
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatBox_input ion-icon{
    cursor: pointer;
    font-size: 1.8em;
    color: #51585c;
}

.chatBox_input ion-icon:nth-child(1){
    margin-right: 15px;
}

.chatBox_input input{
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
}

.chatBox_input ion-icon{
    font-size: 1.75em;
}